@use "sass:string";
@use "sass:color";
@use "sass:list";

//$colors: ("red": #FD8A8A, "yellow": #F1F7B5, "green": #A8D1D1, "blue": #9EA1D4);
//$colors: ("red": #eb3333, "yellow": #f8d613, "green": #0c860c, "blue": #145ec0);
$colors: ("red": #E15554, "green": #3BB273, "yellow": #E1BC29, "blue": #4D9DE0, "purple": #7768AE);
$hover-colors: (color.mix(#000000, #eb3333, 15%), color.mix(#000000, #f8d613, 15%), color.mix(#000000, #0c860c, 15%) ,color.mix(#000000, #145ec0, 15%));
$active-colors: (color.mix(#000000, #eb3333, 20%), color.mix(#000000, #f8d613, 20%), color.mix(#000000, #0c860c, 20%) ,color.mix(#000000, #145ec0, 20%));

@function contrast-color($color) {
    @if lightness($color) > 50% {
        @return black;
    }
    @else {
        @return white;
    }
};

@mixin button-colors($primary-color) {

};

@each $name, $color in $colors {
    .button-#{$name} {
        background-color: $color;
        border: 1px inset $color;
        border-radius: 0.375em;
        color: contrast-color($color);
        width: fit-content;
        padding: 0.5em 0.375em;
        &:hover{

        }

        &:focus-visible {
            box-shadow: 0 0 0 3px contrast-color($color);
            border: 1px solid contrast-color($color);
            outline: 2px solid $color;
        }
    }
}