.dice-dropdown {
    width: fit-content;
    margin-right: 0.25em;
}
.dice-button-button {
    border-radius: 0.375em 0em 0em 0.375em;
    border-right: 1px solid black;
    padding: 0em 0.5em;
}
.dice-button-menu-toggle {
    border-radius: 0em 0.375em 0.375em 0em;
    padding: 0em 0.5em;
}

.dice-button-solo {
    width: fit-content;
    margin-right: 0.25em;
}
.dice-button-button-solo {
    border-radius: 0.375em;
    padding: 0em 0.5em;
}

.dice-single-value {
    width: fit-content;
    margin-right: 0.25em;
}
.no-dice-value {
    width: fit-content;
    margin-right: 0.25em;
}