.error-box-container {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 0.5em;
    border: 2px solid #dc3545;
    border-radius: 0.375em;
}
.error-box-title {
    color: inherit;
}
.error-box-code {
    color: inherit;
}
.error-box-message {
    color: inherit;
}