@use "sass:color";

.react-icons-button-filter {
	padding: 0em;
	border: none;
	border-radius: 0.375em;
	background-color: rgb(156, 156, 156);
}

.filter-container {
	border: 1px solid #000000;
	border-radius: 0.5em;
	padding: 0.375em;
	margin: 1em 0 1em 0;
	display: flex;
	flex-wrap: wrap;
}
.filter-body {
	width: max-content;
	border: 1px solid black;
	border-radius: 0.25em;
	padding: 0em 0em 0em 0.25em;
	margin: 0.0625em 0.125em 0.0625em 0.125em;
	background-color: rgb(156, 156, 156);
	color: black;
}
.filter-body-button {
	line-height: 1.5;
	width: max-content;
	border: 1px solid black;
	border-radius: 0 0.25em 0.25em 0;
	padding: 0em 0.25em 0em 0.25em;
	margin: 0.0625em 0.125em 0.0625em 0;
	color: black;
	&:hover {
		border: 1px solid white;
		cursor: pointer;
		color: white;
	}
	&:focus-visible {
		box-shadow: 0 0 0 3px white;
		outline: 2px solid #0d6efd;
		color: black;
		border-color: black;
	}
	
}
.filter-body-select {
	width: max-content;
	border: 1px solid black;
	border-radius: 0.25em;
	padding: 0em 0em 0em 0.25em;
	margin: 0.0625em 0.125em 0.0625em 0.125em;
	background-color: rgb(156, 156, 156);
	color: black;
	&:hover {
		border: 1px solid white;
		cursor: pointer;
	}
}
.filter-delete-button {
	vertical-align: sub;
	padding: 0;
	&:hover {
		color: white;
	}
	&:active{
		color: white;
		border-radius: 100%;
		background-color: color.scale(rgb(156, 156, 156), $lightness: -30%);
	}
}
.create-input {
	width: 9em;
	border: 1px solid black;
	border-radius: 0.25em 0 0 0.25em;
	padding: 0em 0em 0em 0.25em;
	margin: 0.0625em 0em 0.0625em 0.125em;
	background-color: rgb(156, 156, 156);
	color: black;
	&:hover {
		border-color: white;
	}
	&::placeholder {
		color: black;
		opacity: 0.6;
	}
}
