.box-container {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 0.5em;
    border-radius: 0.375em;
}
.box-container.error {
    border: 2px solid #dc3545;
}
.box-container.success {
    border: 2px solid #198754;
}

.box-title {
    color: inherit;
}
.box-code {
    color: inherit;
}
.box-message {
    color: inherit;
}