.spellcard {
    border: 2px groove black;
    border-radius: 0.375em;
    width: 100%;
    padding: 0.25em 0.75em 0em 0.75em;
    background-color: #343a40;
    max-height: 100%;
    /*margin-top: 3em;*/
}
.spellcard-row {
    border-top: 1px solid black; 
    padding-bottom: 0.25em;
}
.spellcard-section {
    border-top: 1px solid black;
    padding-top: 0.25em;
}
.spellcard-footer {
    background-color: #212529;
    margin: 0em -0.75em 0em -0.75em; 
    padding: 0.25em 0.75em 0.5em 0.75em;
    text-align: end;
}
.overflow {
    max-height: 10em;
    overflow-y: auto;
}
