

/*  This is all that's used for Darkmode */

#darkmode{
  display: flex;
  justify-content: center;
}

#darkmode .dark {
  background-color: #292c35;
}
#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 38px;
  height: 14px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball{
  transform: translateX(24px);
}
.fancy-border {
	border-image-slice: 42 42 42 42;
	border-image-width: 42px 42px 42px 42px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: round round;
	border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
	border-style: solid; 
}

